@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('../fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf');
    font-weight: 300;
  }

  body {
    @apply bg-body text-primary ;
  }

  h1, h2 {
    @apply uppercase;
  }

  img {
    @apply cursor-pointer;
  }

  p {
   @apply leading-loose text-base;
  }

  .hero-images img {
    @apply w-full sm:w-auto mb-5 sm:mb-0;
  }

  
  .latest-list-item {
    @apply xl:flex-grow mt-16;
  } 
  .latest-list-item img {
    @apply xl:max-w-none w-full xl:w-auto mb-8 hover:border-b-4 hover:mb-7 border-b-highlight;
    
  }

  .latest-list-item .latest-list-title {
    @apply text-lg/8 font-regular mb-2 text-secondary;
  }

  .latest-list-item .latest-list-content {
    @apply line-clamp-3;
  }

  .latest-list-item .latest-list-link {
    @apply uppercase inline-block mt-5 font-regular text-secondary pb-2 border-b border-b-highlight;
  }
}